<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>scoutAccount</string>
		<key>Password</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Scout Account</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>scoutUser</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Scout User</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>scoutPassword</string>
		<key>Password</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Scout Password</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>scoutAlerts</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>30</real>
		<key>Key</key>
		<string>scoutRefreshTimer</string>
		<key>MaximumValue</key>
		<real>180</real>
		<key>MinimumValue</key>
		<real>5</real>
		<key>StepValue</key>
		<real>15</real>
		<key>Title</key>
		<string>Refresh Frequency (Seconds)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>scoutFirstRun</string>
	</dict>
</array>
</plist>
